.counter-wrapper {
    margin-top: 5rem;
}

.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    margin: 0 auto;
    width: 230px;
    height: 130px;
    border: solid 2px #F56B9A;
    border-radius: 3px;
}

.counter-price {
    font-family: var(--font-family-default);
    font-weight: 700;
    font-size: 32px;
    color: var(--text-color);
    margin-top: 1rem;
    text-shadow: 1px 1px 0 rgba(245, 107, 154, 1);
}

.counter-count {
    display: flex;
    width: 100%;
    height: 50px; 
}


.counter-number {
    flex: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-default);
    font-size: 28px;
    line-height: 39.2px;
    color: var(--text-color);
    text-align: center;
    border-left: solid 1px #F56B9A;
    border-right: solid 1px #F56B9A;
    height: 50px; 
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}

.counter-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    border-top: #F56B9A solid 1px;
}

.counter-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.counter-minus {
    margin: 0 0 .2rem 1rem;
}

.counter-plus {
    margin-right: 1rem;
}

.counter-number {
    margin: 0 1rem;
}


