.order-overviews {
    position: relative;
}

.order-header {
    font-family: var(--font-family-heading-text);
    font-size: 32px;
    line-height: 32.28px;
    color: var(--heading-color);
    text-align: center;
    padding-top: 34px;
    margin-bottom: 4rem;
}

.order-loader {
    font-family: var(--font-family-heading-text);
    font-size: 28px;
    line-height: 32.28px;
    color: var(--heading-color);
    text-align: center;
    padding-top: 34px;
}