.landing-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrerar innehållet vertikalt */
    align-items: center; /* Centrerar innehållet horisontellt */
    height: 667px;
  }
